 body{position: absolute;
    left: 0px;
    top: 0px;}
    input{position:absolute;
        top: 500px;
        left: 10px;}
    button{position: absolute;
    top: 500px;
    left: 210px;}
    a {position: absolute;
        top: 500px;
    left:300px;}
    